@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

input {
  height: 30px;
}

textarea:focus,
input:focus {
  color: #ff0000;
}

input,
select,
textarea {
  color: #000;
}

button,
a {
  border: 0;
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: #e7e7e7;
}

.flex {
  display: flex;
  align-items: center;
}

.absolute {
  position: absolute;
}

.footer {
  justify-content: space-ar;
  background-color: aquamarine;
  height: 70px;
  box-shadow: 0 4px 10px rgb(0 0 0 / 30%);
}

.header {
  background-color: aquamarine;
  justify-content: space-between;
  box-shadow: 0 4px 10px rgb(0 0 0 / 30%);
}

.container {
  margin-left: 15px;
}

.img-container {
  margin: 0px 0px 0px 80px;
}

.author {
  margin: 0px 80px 0px 0px;
}

.article {
  max-width: 48%;
  padding: 20px;
  background-color: #203047;
  border-radius: 10px;
  color: #fff;
  justify-content: center;
}

.inspirations {
  justify-content: space-around;
}

.author-image {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  border-radius: 50%;
}

.author-name {
  font-size: 600;
}

.author-greetings {
  font-size: 11px;
}

.form {
  justify-content: space-around;
}

.inputtask {
  width: calc(100% - 250px);
  height: 30px;
}

.select-task {
  height: 30px;
}

.button-container {
  margin-left: -10px;
}

.taskbutton {
  height: 30px;
  margin: 0px 0px 0px 10px;
  background-color: aquamarine;
  border-radius: 3px;
}

.listtasks {
  margin: 0px 0px 0px 10px;
}

.content {
  margin: 20px;
  height: 130px;
  max-width: 48%;
  padding: 20px;
  background-color: #203047;
  border-radius: 10px;
  color: #fff;
  justify-content: center;
}

.delete {
  background-color: red;
}

.complete {
  background-color: green;
}

.edit {
  background-color: yellow;
}

.search-input {
  width: calc(50%);
}

.search-button {
  /* left: 946px; */
  border: none;
  background: none;
  /* position: relative; */
}

.search {
  object-fit: contain;
}
