@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
  box-sizing: border-box;
  border: 0;
  font-family: 'Roboto', sans-serif;
}

textarea:focus, input:focus {
  color: #ff0000;
}

input, select, textarea{
  color: #000;
}

button, a{
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: #e7e7e7;
}

.flex {
  display: flex;
  align-items: center;
}

.footer{
  justify-content: space-ar;
  background-color: aquamarine;
  height: 70px;
  box-shadow: 0 4px 10px rgb(0 0 0 / 30%);
}

.header {
  background-color: aquamarine;
  justify-content: space-between;
  box-shadow: 0 4px 10px rgb(0 0 0 / 30%);
}

.container{
  margin-left: 15px;
}

.img-container {
  margin: 0px 0px 0px 80px;
}

.author{
  margin: 0px 80px 0px 0px;
}

.article {
  height: 130px;
  max-width: 48%;
  padding: 20px;
  background-color: #203047;
  border-radius: 10px;
  color: #fff;
  justify-content: center;
}

.inspirations{
  justify-content: space-around;
}

.author-name{
  font-size: 600;
}

.greetings{
  font-size: 11px;
}

.form{
  justify-content: space-around;
}

.inputtask{
  width: calc(100% - 170px);
  /* flex: 1 1; */
  height: 30px;
}

.button-container{
}


.taskbutton{
  height: 30px;
  margin: 0px 0px 0px 10px ;
  background-color: aquamarine ;
  border-radius: 3px;
}

.listtasks{
  margin: 0px 0px 0px 10px;
}

.content{
  margin: 20px;
  height: 130px;
  max-width: 48%;
  padding: 20px;
  background-color: #203047;
  border-radius: 10px;
  color: #fff;
  justify-content: center;
}

.delete{
  background-color: red;
}

.complete{
  background-color: green;
}

.edit{
  background-color: yellow;
}