@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

main{
  margin: 20px;
}

label{
  margin: 0px 10px 0px 10px;
}

input,select {
  height: 30px;
}

button,
a {
  border: 0;
  cursor: pointer;
}

html{
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: #e7e7e7;
}

.flex {
  display: flex;
  align-items: center;
}

.page-container{
  background-color: rgb(15, 211, 146);
  box-shadow: 0 4px 10px rgb(0 0 0 / 30%);
}

.footer {
  overflow-x: hidden ;
  min-width: 350px;
  justify-content: center;
  height: 70px;
}

.socials{
  margin: 0px 15px 0px 24px
}

.header {
  min-width: 350px;
  justify-content: space-between;
}

.container {
  min-width: 350px;
  margin: 0px 0px 0px 15px;
}

.img-container {
  margin: 0px 0px 0px 80px;
}

.author {
  margin: 0px 50px 0px 0px;
}

.article {
  padding: 20px;
  background-color: #203047;
  border-radius: 10px;
  color: #fff;
}

.author-image {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  border-radius: 50%;
}

.author-name {
  font-size: 600;
}

.author-greetings {
  font-size: 11px;
}

.input-task {
  width: calc(100% - 280px);
}

.select-task {
  height: 30px;
}

.button-container {
  margin-left: -10px;
}

.task-button {
  height: 30px;
  margin: 0px 0px 0px 10px;
  background-color: aquamarine;
  border-radius: 3px;
}

.list-tasks {
  margin: 0px 0px 0px 10px;
}


.content {
  margin: 20px auto;
  max-width: 65%;
  padding: 20px;
  background-color: #203047;
  border-radius: 10px;
  color: #fff;
}

.delete {
  background-color: red;
}

.complete {
  background-color: green;
}

.search-input {
  width: calc(70%);
}

.search-div{
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex: auto;
}

.divisor{
  width: 700px;
  margin-top: 20px
}

.Tasks{
  min-height: 490px;
}

.search-svg{
  margin-left: -40px;
}

.author-message{
  font-size: 15px;
}

@media only screen and (max-width: 600px) {
  .content{
    margin: 50px;
  }

  .container{
    margin: 0px;
  }
  
  .img-container{
    margin-left: 20px;
  }

  .author{
    margin-right: 20px;
  }
}